name: Daily Contribution

on:
  schedule:
    - cron: '0 12 * * *' # Runs daily at 12:00 UTC automatically
  workflow_dispatch:     # Allows manual trigger with a text box
    inputs:
      days_back:
        description: 'How many days back to go?'
        required: true
        default: '0'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Configure Git Identity
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Run Contribution Script
        run: | 
          # HARDCODED to 1200 to force 3 years of history
          python daily_bot.py --days_before 1200 --days_after 1 --frequency 100

      - name: Push changes
        run: |
          git pull origin main --rebase || echo "No changes to pull"
          git push origin HEAD:main
